.home-page-content{
    background-color: black;
    color: white;
    .container{
        width:1100px;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
        padding-top: 45px;

        .box-comic{
          padding: 10px;
          height: 400px;
          width: 200px;
          text-transform: uppercase;

          img{
              width:100%;
          }
          a{
              text-decoration: none;
              color:white;
          }
        }
       
    }
     .load-box{
        background: #0c7cec;;
        border: 0;
        color:white;
        width:200px;
        font-size: 18px;
        height: 40px;
        font-weight: bold;
        position: relative;
        left:550px;
        margin: 30px 0  40px 0;
    }
    .current-series{
        background: #0c7cec;;
        border: 0;
        color:white;
        font-weight: bold;
        font-size: 20px;
        width:250px;
        height: 50px;
        position: relative;
        bottom:20px;
        left:100px;
    }
}