section {
    background-color:  #0c7cec;
    padding: 30px 0;
    .container {
        display: flex;
        align-items: text-bottom;
      
        .col {
          width: calc(100% / 5);
          text-align: center;
          height: 60px;
          vertical-align: center;
          
          a{
              text-decoration: none;
          }
      
          img {
            height: 50px;
            vertical-align: middle;
          }
          span {
            color: white;
            font-family: "Roboto Condensed", sans-serif;
            line-height: 60px;
          }
         }  
         }
}