header ul {
  list-style: none;
}

header ul a {
  text-decoration: none;
}

header .additional-sites {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #0c7cec;
}

header nav {
  display: flex;
}

header .menu {
  display: flex;
  align-items: center;
}

header .menu li {
  margin: 0 15px;
}

header .menu li a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-bottom: 50px;
}

header .menu li a:hover {
  color: #0c7cec;
  border-bottom: 5px solid #0c7cec;
}

header .img-comic {
  height: 300px;
  background-position: top;
  background-size: cover;
  background-image: url("/images/jumbotron.jpg");
}

footer .section-link {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}

footer .section-link .container {
  display: flex;
  justify-content: space-between;
}

footer .section-link .left-side {
  display: flex;
}

footer .section-link .left-side li {
  list-style: none;
  color: white;
  padding: 5px 24px 0 0;
  font-family: "Roboto Condensed", sans-serif;
}

footer .section-link .left-side li:first-child {
  font-weight: bold;
  padding-bottom: 14px;
}

footer .section-link .left-side li:last-child {
  padding-bottom: 14px;
}

footer .section-link .left-side a {
  color: gray;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

footer .social {
  background-color: #303030;
  height: 80px;
}

footer .social .container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 10px;
}

footer .social .container span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

footer .social .container .left-side a {
  color: white;
  padding: 15px;
  border: 1px solid #0c7cec;
  box-shadow: 0 0 2px 1px #0c7cec;
  text-decoration: none;
}

footer .social .container .right-side span {
  color: white;
}

footer .social .container .right-side img {
  padding-left: 15px;
  vertical-align: middle;
}

section {
  background-color: #0c7cec;
  padding: 30px 0;
}

section .container {
  display: flex;
  align-items: text-bottom;
}

section .container .col {
  width: calc(100% / 5);
  text-align: center;
  height: 60px;
  vertical-align: center;
}

section .container .col a {
  text-decoration: none;
}

section .container .col img {
  height: 50px;
  vertical-align: middle;
}

section .container .col span {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 60px;
}

.home-page-content {
  background-color: black;
  color: white;
}

.home-page-content .container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}

.home-page-content .container .box-comic {
  padding: 10px;
  height: 400px;
  width: 200px;
  text-transform: uppercase;
}

.home-page-content .container .box-comic img {
  width: 100%;
}

.home-page-content .container .box-comic a {
  text-decoration: none;
  color: white;
}

.home-page-content .load-box {
  background: #0c7cec;
  border: 0;
  color: white;
  width: 200px;
  font-size: 18px;
  height: 40px;
  font-weight: bold;
  position: relative;
  left: 550px;
  margin: 30px 0 40px 0;
}

.home-page-content .current-series {
  background: #0c7cec;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 250px;
  height: 50px;
  position: relative;
  bottom: 20px;
  left: 100px;
}

